<!-- Tara -->

<%- include('../partials/header') %>


<form action="/animals/<%= animal._id %>?_method=PUT" method="POST">
    <label>Edit Name:</label>
    <input type="text" name="name" value="<%=animal.name%>">
    <!-- <label>Image:</label>
    <input type="text" id="img" name="img"> -->
    <label>Edit Species:</label>
    <input type="text" name="species" value="<%=animal.species%>">
    <label>Edit Feeding Behaviors:</label>
    <select name="eat" value="<%=animal.eat%>">
        <option value="Herbivore">Herbivore</option>
        <option value="Omnivore">Omnivore</option>
        <option value="Carnivore">Carnivore</option>
        <option value="Detrivore">Detrivore</option>
    </select>
    <!-- get the checkbox to work for tool use -->
    <label>Edit Tool Use:</label>
    <div><% const uses = animal.toolUse ? 'checked' : '' %></div>
    <input type="checkbox" name="toolUse" value="<%=animal.toolUse%>" uses>
    <label>Edit Ecosystem:</label>
    <select name="ecosystem" value="<%=animal.ecosystem%>">
        <option value="Terrestrial">Terrestrial</option>
        <option value="Forest">Forest</option>
        <option value="Grassland">Grassland</option>
        <option value="Desert">Desert</option>
        <option value="Tundra">Tundra</option>
        <option value="Freshwater">Freshwater</option>
        <option value="Marine">Marine</option>
        <option value="Other">Other</option>
    </select>
    <label>Edit Life Span:</label>
    <input type="text" name="lifeSpan" value="<%=animal.lifeSpan%>">
    <label>Edit Conservation Status</label>
    <select name="conservationStatus" value="<%=animal.conservationStatus%>">
        <option value="Extinct in the wild">Extinct in the wild</option>
        <option value="Critically endangered ">Critically endangered</option>
        <option value="Endangered">Endangered</option>
        <option value="Vulnerable">Vulnerable</option>
        <option value="Near threatened">Near threatened</option>
        <option value="Least concern">Least concern</option>
        <option value="Data deficient">Data deficient</option>
        <option value="Not evaluated">Not evaluated</option>
    </select>
    <button type="submit">Accept Changes</button>
</form>

</body>

</html>