<%- include('../partials/header') %>



<h1 class="title"><a href="/animals"><img class="icon-nav" src="https://image.flaticon.com/icons/svg/1527/1527246.svg" alt="Anilog"></a><br>All Animals</h1><br>



<section class="containerCard">
    <% animals.forEach(function(a) {%>
    <div class="row">
        <div class="column">
            <a href="animals/<%=a._id%>">
                <div class="card">
                    <div>
                        <img class="defaultimg" src="<%= a.img %>">
                    </div>
                    <div>
                        <h5 class="animalName"><%= a.name %></h5>
                        <!-- <p class="userName">Naturalist: <%= a.user.name %> -->
                    </div>
                </div>
            </a>
            <% if (user && user._id.toString() === a.user._id.toString()) { %>
            <a class="edit-button" href="/animals/<%= a._id %>/edit">Edit</a>
            <% } %>
        </div>
    </div>
    <% }); %>
</section>

</body>

</html>