<%- include('../partials/header') %>

    <section class="animal" id="show-page">
        <!-- <div>Name</div> -->
        <h1 class="title"><%= animal.name %></h1>
        <!-- <div>Species</div> -->
        <div><img class="img" src="<%= animal.img %>"></div>
        <div><%= animal.species %></div>
        <!-- <div>Feeding Behavior</div> -->
        <div><%= animal.eat %></div>
        <div>Tool Use? <%= animal.toolUse ? 'Yes' : 'No' %></div>
        <div><%= animal.ecosystem %></div>
        <div><%= animal.lifeSpan %></div>
        <div><%= animal.conservationStatus %></div>
        <div ><i><small><%= animal.user.name %></small></i></div>

    </section>

    <section>
        <h2>Reviews</h2>
        
    </section>

    <section class="findings">
        <h2>Findings</h2>
        <form action="/animals/<%= animal._id %>/findings" method="POST">
            Add your interesting facts or findings here:
            <input name="content">
            <button type="submit">ADD FINDING</button>
        </form>
        <br><br>


        <% if (findings.length) { %>
        <table class="findings-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Finding</th>
                    <th>Naturalist</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% findings.forEach(function(f) { %>
                <tr>
                    <td><%= f.createdAt.toLocaleDateString() %></td>
                    <td><%= f.content %></td>
                    <td><%= f.user.name %></td>
                    <td><% if (f.user.equals(user._id)) { %>
                    <form action="/findings/<%= f._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                    <% } %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <h5>No Findings Yet</h5>
        <% } %>
        </section>
</body>

</html>


